$bg: #F6F5F1;
$color: #699A9E;
$accent: #2C5E61;
* {
    padding: 0; margin: 0;
    font-family:"Good Sans";
    color: $color;
    text-decoration: none;
}
html {
    background: $color;
}

::selection {
    color: $bg;
    background: $accent;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: radial-gradient(ellipse, $bg 25%, transparent 300%);
}

#header {
    position: fixed;
    width: 100%;
    top: 0; left: 0;
    display: flex;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo {
        font-size: 2em;
        padding: 20px;
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        padding: 20px;
        //border-bottom: 2px solid $color;
        label {
            padding-right: 5px;
        }
        select {
            all: unset;
            appearance: menulist;
            white-space: pre;
            background-color: $color;
            box-shadow: 0 10px 20px -10px $color;
            color: $bg;
            padding: 5px 7px;
            line-height: 1;
            border-radius: 8px !important;
            box-sizing: border-box;
            transition: .3s;
            * {
                color: $bg;
                background-color: $color;
            }
            &:focus {
                background-color: $accent;
                color: $bg;
                box-shadow: 0 10px 20px -10px $accent;
            }
        }
    }
}
#container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 140px 40px;
    #timer {
        padding: 6px 10px;
        margin-bottom: 30px;
        border-radius: 8px;
        text-align: center;
        color: $bg;
        background-color: $color;
        box-shadow: 0 4px 20px -10px $color;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .time {
            color: $bg;
            text-align: center;
        }
    }
    table {
        border-collapse: collapse;
        tr {
            td {
                border: 1px solid $color;
                font-size: 2em;
                text-align: center;
                box-sizing: border-box;
                input {
                    z-index: 1;
                    all: unset;
                    -webkit-appearance: none;
                    -moz-appearance: textfield;
                    width: 3em;
                    height: 3em;
                    box-sizing: border-box;
                    transition-duration: .3s;
                    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    &:focus {
                        background: rgba($color, 0.3);
                    }
                }
                .label {
                    position: absolute;
                    font-size: 1.25rem;
                    padding: 6px;
                }
            }
        }
    }
}
#footer {
    position: fixed;
    width: 100%;
    bottom: 0; left: 0;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    a {
        padding: 12px 16px;
        background-color: $color;
        color: $bg;
        box-shadow: 0 8px 20px -10px $color;
        border-radius: 8px;
        transition-duration: .3s;
        &:hover {
            cursor: pointer;
            background-color: $accent;
            color: $bg;
            box-shadow: 0 8px 20px -10px $accent;
        }
    }
}

@media screen and (max-height: 740px) {
    .cell {
        width: 2.5em !important;
        height: 2.5em !important;
    }
}

@media screen and (max-height: 675px) {
    #container {
        padding: 80px 20px;
    }
    .cell {
        width: 2em !important;
        height: 2em !important;
    }
}

@media screen and (max-width: 810px) {
    html {
        font-size: 14px;
    }
    #header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .logo {
            font-size: 2em;
            padding: 20px 0 0 20px;
        }
        ul {
            gap: 20px;
            padding: 10px 0 0 20px;
        }
    }
    #footer {
        width: 100%;
        bottom: 0; left: 0;
        padding: 20px;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        a {
            padding: 7px 12px;
        }
    }
}
@media screen and (max-width: 810px) and (max-height: 600px) {
    #container {
        min-height: 0;
        padding: 160px 20px 40px 20px;
    }
    #footer {
        position: static;
    }
}

@media screen and (max-width: 350px) {
    html {
        font-size: 12px;
    }
}