// @font-face {
//     font-family:"Good Sans";
//     src:url(GoodSans-Thin.woff);
//     font-weight:200;
//     font-style:normal;
// }
@font-face {
    font-family:"Good Sans";
    src:url(GoodSans-Light.woff);
    font-weight:300;
    font-style:normal;
}
@font-face {
    font-family:"Good Sans";
    src:url(GoodSans-Regular.woff);
    font-weight:400;
    font-style:normal;
}
@font-face {
    font-family:"Good Sans";
    src:url(GoodSans-Medium.woff);
    font-weight:500;
    font-style:normal;
}
@font-face {
    font-family:"Good Sans";
    src:url(GoodSans-Bold.woff);
    font-weight:700;
    font-style:normal
}
@font-face {
    font-family:"Good Sans";
    src:url(GoodSans-Black.woff);
    font-weight:800;
    font-style:normal;
}

@font-face {
    font-family: 'Neue World';
    src: url('https://assets.website-files.com/5f5f991f8f95b8eeba2b1266/5f5f9a46e37d8abf1e579e9d_NeueWorld-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Maelstrom Sans';
    src: url('https://assets.website-files.com/5f5f991f8f95b8eeba2b1266/5f5f9a4624c868ed3c276035_MaelstromSansTest-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Untitled Sans';
    src: url('https://assets.website-files.com/5f5f991f8f95b8eeba2b1266/5f8800bd90080141f7f34b89_UntitledSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// @font-face{font-family:"GoodSans-Thin";src:url(https://static1.squarespace.com/static/58da8be66b8f5b4b78401fc9/t/5b11118faa4a993871c7e5eb/1527845263957/GoodSans-Thin.woff);font-weight:200;font-style:normal}@font-face{font-family:"GoodSans-Light";src:url(https://static1.squarespace.com/static/58da8be66b8f5b4b78401fc9/t/5b1111ec88251bf1a7174db8/1527845356904/GoodSans-Light.woff);font-weight:300;font-style:normal}@font-face{font-family:"GoodSans-Regular";src:url(https://static1.squarespace.com/static/58da8be66b8f5b4b78401fc9/t/5b11122c0e2e724150ed1132/1527845420527/GoodSans-Regular.woff);font-weight:400;font-style:normal}@font-face{font-family:"GoodSans-Medium";src:url(https://static1.squarespace.com/static/58da8be66b8f5b4b78401fc9/t/5b1113ea6d2a737c1d1f8568/1527845866986/GoodSans-Medium.woff);font-weight:500;font-style:normal}@font-face{font-family:"GoodSans-Bold";src:url(https://static1.squarespace.com/static/58da8be66b8f5b4b78401fc9/t/5b111410f950b7d967839735/1527845904261/GoodSans-Bold.woff);font-weight:700;font-style:normal}@font-face{font-family:"GoodSans-Black";src:url(https://static1.squarespace.com/static/58da8be66b8f5b4b78401fc9/t/5b111434575d1ff3789427d1/1527845941193/GoodSans-Black.woff);font-weight:800;font-style:normal}